.break {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem 2rem;
  gap: 12px;
}

.breakline {
  border: none;
  height: 1px;
  width: 100%;
  background-color: rgb(129, 127, 127);
}

.breakWord {
  color: rgb(129, 127, 127);
}
