.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginForm {
  width: 21rem;
}

.loginForm__field {
  width: 100%;
}

.loginForm__input {
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  margin: 0.25em 0rem;
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;
}

.loginForm__toolsSection {
  margin-top: 0.25rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.loginForm__checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.loginForm__errorsList {
  margin-top: 1rem;
  padding-left: 1.2rem;
  width: 100%;
  font-size: 1rem;
  color: rgb(149, 103, 18);
}

.loginForm__button {
  display: block;
  margin: 2.5rem auto 2rem;
  border-radius: 0.5rem;
  height: 3rem;
  width: 100%;
  font-size: 1.3rem;
}
