.loginForm__field {
  margin: 1rem 8rem;
}

.loginForm__input {
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;
}

.loginForm__toolsSection {
  margin: 1rem 8rem;
  display: flex;
  justify-content: space-between;
}

.loginForm__checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.loginForm__errorsList {
  margin: auto;
  width: 28rem;
  font-size: 1.2rem;
  color: rgb(149, 103, 18);
}

.loginForm__button {
  display: block;
  margin: 2.5rem auto 2rem;
  border-radius: 0.5rem;
  height: 3rem;
  width: 18rem;
  font-size: 1.3rem;
}
